<div id="<%= dom_id bookmark %>">
  <p>
    <strong>Title:</strong>
    <%= bookmark.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= bookmark.description %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= bookmark.tags %>
  </p>

</div>
