<div class="container">
  <div class="row">
    <div class="col">
      <h1><%=t('bookmarks.edit_heading') %></h1>
    </div>
  </div>
</div>
<%= render "form", bookmark: @bookmark %>

<div class="container non-essential">
  <div class="row">
    <div class="col">
      <%= link_to "Show this bookmark", @bookmark %> |
      <%= link_to "Back to bookmarks", bookmarks_path %>
    </div>
  </div>
</div>
