/* General look */
body {
	color: #484337;
}
h1 {
	font-size: 2rem;
	max-height: 2rem;
	margin-bottom: 1.5rem;
}
heading {
	font-size: 120%;
	font-weight: bold;
}
.inline-icon{
	max-height: inherit;
	padding-right: 0.25rem;
}
.inline-body-icon{
	max-height: 1rem;
	padding-right: 0.25rem;
}
heading > .inline-icon{
	max-height: 1.5rem;
}

.compact-button{
	padding: 0.2rem 1rem;
}
.search-go-button{
	max-height: 1.5rem;
}

/* Navigation  */

.home-link-col {
	padding-top: 0.35rem;
}
.home-nav-icon img{
	max-width: 3rem;
	display: inline-block;
}
#header{
    background: aliceblue;
    min-height: 2rem;
	font-weight: bold;
}
/* the only "a" tag is the one that goes home */
#navigation > div > a {
	color: #484337;
	text-decoration: none;
}

#side-navigation {
	border-left: dashed 1px #ccc;
	padding-left: 0px;
}
#side-nav-items {
	list-style-type: none;
	padding-left: 0px;
}
#side-nav-items > li {
	font-weight: bold;
}
#side-nav-items > li > a {
	color: #484337;
	text-decoration: none;
}
/* Search */
.search-form {
	padding-left: 1rem;
	border-left: solid 1px #ccc;
}

/* Links */
.inline-link-icon {
	margin-right: 0.25rem;
}
.inline-link-icon img {
	max-width: 1rem;
}
.icon-link-text {
	display: inline;
	margin-left: 0.25rem;
}
/* BOOKMARKS */

.favicon {
	/* px because of google's favicon api relying on pixel sizes */
	max-height: 32px;
	display: inline-block;
}
#bookmark-archives-listing {
	list-style-type: none;
}

.archive-link-icon {
}
.archive-date {
	font-style: italic;
	font-size: 0.8rem;
	color: slategray;
}
.current-archive-item{
	font-weight: bold;
}
.current-archive-item > a::before {
	content: "▶ ";
}
.edit-link-icon {
}
.delete-link-icon {
}
.bookmark-list-item {
	border: 1px dashed #ccc;
	border-radius: 0.5rem;
	margin-bottom: 0.5rem;
}
.bookmark-input-field{
	width: 100%;
}
.bookmark-textarea-field{
	width: 100%;
	height: 5rem;

}
.bookmark-count {
	font-style: italic;
	font-size: 0.8rem;
	color: slategray;
}
.private-bookmark {
	background-color: #ffecc5;
}
.private-hint {
	font-style: italic;
	font-size: 0.8rem;
	color: #aaa;
}

.quiet-notice {
	font-style: italic;
	font-size: 0.8rem;
	color: #aaa;
}

/* footer */
#footer > div > div {
	background: aliceblue;
	justify-content: center;
	display: flex;
}

#extension-links{
	max-height: 1.5rem;
}
.extension-link-container{
	/* display: inline-block; */
	/* margin-left: 0.5rem; */
	/* white-space: nowrap; */
	min-width: 3rem;
}
.extension-link{
	/* display: inline-block; */
	/* margin-left: 0.5rem; */
	max-height: 1.5rem;
}

/* form elements */
.toggle {
	background-color: #f4f4f4;
    border: solid #767676;
}

#privacySwitch,
#toReadSwitch {
	--bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.60%29'/%3e%3c/svg%3e");
	background-image: var(--bs-form-switch-bg) !important;
}

/* misc */
.giant-emoji {
	font-size: 10rem;
}
.safe-space{
	margin-top: 2rem;
	margin-bottom: 2rem;
}

debugging{
	border: solid 2px red;
	background: #ff6e67;

}
debugging::before{
	content: "🐞(debugging)";
}
