/* General look */

h1 {
	font-size: 2rem;
	max-height: 2rem;
	margin-bottom: 1.5rem;
}
.inline-icon{
	max-height: inherit;
	padding-right: 0.25rem;
}
.inline-body-icon{
	max-height: 1rem;
	padding-right: 0.25rem;
}

/* Navigation  */

.home-nav-icon img{
	max-width: 3rem;
	display: inline-block;
}
#header{
    background: aliceblue;
    min-height: 2rem;
	font-weight: bold;
}
#navigation > div > a {
	color: black;
	text-decoration: none;
}

/* Links */
.inline-link-icon {
	margin-right: 0.25rem;
}
.inline-link-icon img {
	max-width: 1rem;
}
.icon-link-text {
	display: inline;
	margin-left: 0.25rem;
}
/* BOOKMARKS */
#bookmark-archives-listing {
	list-style-type: none;
}

.archive-link-icon {
}
.edit-link-icon {
}
.delete-link-icon {
}
.bookmark-list-item {
	border: 1px dashed #ccc;
	border-radius: 0.5rem;
	margin-bottom: 0.5rem;
}
.bookmark-input-field{
	width: 100%;
}
.bookmark-textarea-field{
	width: 100%;
	height: 5rem;

}
.bookmark-count {
	font-style: italic;
	font-size: 0.8rem;
}
.private-bookmark {
	background-color: #ffecc5;
}
.private-hint {
	font-style: italic;
	font-size: 0.8rem;
	color: #aaa;
}
