/* This code is courtesy of Kate Morley
and is distributed under the CC 1.0 Universal Legal Code
https://creativecommons.org/publicdomain/zero/1.0/legalcode

A wonderful explanation of what's going on
can be found here
https://iamkate.com/code/tree-views/

changes to original:
- added #main-body to restrict where this can apply
*/

#main-body .tree {
  --spacing: 1.5rem;
  --radius: 10px;
}

#main-body .tree li {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

#main-body .tree ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
}

#main-body .tree ul li {
  border-left: 2px solid #ddd;
}

#main-body .tree ul li:last-child {
  border-color: transparent;
}

#main-body .tree ul li::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / -2);
  left: -2px;
  width: calc(var(--spacing) + 2px);
  height: calc(var(--spacing) + 1px);
  border: solid #ddd;
  border-width: 0 0 2px 2px;
}

#main-body .tree summary {
  display: block;
  cursor: pointer;
}

#main-body .tree summary::marker,
#main-body .tree summary::-webkit-details-marker {
  display: none;
}

#main-body .tree summary:focus {
  outline: none;
}

#main-body .tree summary:focus-visible {
  outline: 1px dotted #000;
}

#main-body .tree li::after,
#main-body .tree summary::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / 2 - var(--radius));
  left: calc(var(--spacing) - var(--radius) - 1px);
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;
  background: #ddd;
}

#main-body .tree summary::before {
  z-index: 1;
  background: #696 url('expand-collapse.svg') 0 0;
}

#main-body .tree details[open] > summary::before {
  background-position: calc(-2 * var(--radius)) 0;
}
