[Unit]
Description=Backup Brain
Requires=mongod.service
Requires=meilisearch.service
After=mongod.service
After=meilisearch.service

[Service]
User=YOUR_USERNAME
Group=USER_GROUP
ExecStart=/bin/bash -lc /path/to/backup_brain/serve
ExecReload=/bin/bash -lc /path/to/backup_brain/serve
Restart=on-failure

[Install]
WantedBy=multi-user.target
