[Unit]
Description=Backup Brain

[Service]
User=YOUR_USERNAME
Group=USER_GROUP
ExecStart=/bin/bash -lc /path/to/backup_brain/serve
ExecReload=/bin/bash -lc /path/to/backup_brain/serve
Restart=on-failure

[Install]
WantedBy=multi-user.target
